@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #22272e;
  font-family: "Poppins", sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3 {
  padding: 4px;
  font-weight: 500;
}

img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

table {
  border: 3px solid rgb(242, 238, 240);
  padding: auto;
  margin: auto;
  min-width: 80%;
}

thead {
  font: bold 1.125em;
}

td {
  font-size: 1.125em;
  padding: 0.9375em 1.25em;
  text-align: left;
}

.header-wrapper {
  display: flex;
  margin: 1.25em;
  text-align: center;
}

.profile-image {
  float: left;
  left: 50%;
}

.header-text {
  float: right;
  right: 50%;
  margin: 1em;
  text-align: left;
}

.table-wrapper {
  margin: auto;
  text-align: center;
  min-width: 400px;
}

.button-demo {
  background-color: #4922e6;
}

.button-demo:hover {
  background-color: #22a5e6;
}

.button-code {
  background-color: #34db3f;
}

.button-code:hover {
  background-color: #c6db3e;
}

.button {
  border: none;
  padding: 0.75rem 1.75rem;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 8%;
  font-size: 1.125em;
  color: white;
}
